.contact-us-container {
   background: linear-gradient(90deg, #97eff9, #d8a2c1);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us-container h2 {
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.contact-info i {
  margin-right: 10px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #060606;
  text-decoration: none;
}

.social-icons a:hover {
  color: #a5603d;
}

form .form-group {
  margin-bottom: 20px;
}

form .form-text {
  font-size: 12px;
}

form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
